
    


.box {
 
 
  counter-reset: game;
}



.f-input {
  opacity: 0;
  position: absolute;
  left: -1000px;
}

.f-input:checked ~ .box .fish:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: #111;
  font-size: 5rem;
  color: #fff;
  font-family: cursive;
  font-weight: bold;
  padding-right: 3rem;
}

@keyframes show {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
  }
}
@-webkit-keyframes show {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
}
@-webkit-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.fish {
  position: absolute;
  right: 0;
  cursor: -webkit-grab;
  -webkit-animation-name: go;
          animation-name: go;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#f-1:checked {
  counter-increment: game 5;
}

#f-1:checked ~ .box #l-1:after {
  content: "'+5'";
  -webkit-animation: show 1.5s .25s ease-in-out both;
          animation: show 1.5s .25s ease-in-out both;
}

#f-1:checked ~ .box #l-1 svg {
  -webkit-animation: hide 2s ease-in-out both;
          animation: hide 2s ease-in-out both;
}

#f-1:checked ~ .box #l-1 {
  -webkit-animation: hide 2s .75s ease-in-out both;
          animation: hide 2s .75s ease-in-out both;
}

.fish:nth-of-type(1) {
  z-index: 5;
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
  top: 12rem;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes go {
  45% {
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 0deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    right: 50%;
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
  }
  95% {
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
  }
}
#f-2:checked {
  counter-increment: game 10;
}

#f-2:checked ~ .box #l-2:after {
  content: "'+10'";
  -webkit-animation: show 1.5s .25s ease-in-out both;
          animation: show 1.5s .25s ease-in-out both;
}

#f-2:checked ~ .box #l-2 svg {
  -webkit-animation: hide 2s ease-in-out both;
          animation: hide 2s ease-in-out both;
}

#f-2:checked ~ .box #l-2 {
  -webkit-animation: hide 2s .75s ease-in-out both;
          animation: hide 2s .75s ease-in-out both;
}

.fish:nth-of-type(2) {
  z-index: 4;
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
  top: 5rem;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes go {
  45% {
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 0deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    right: 50%;
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
  }
  95% {
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
  }
}
#f-3:checked {
  counter-increment: game 15;
}

#f-3:checked ~ .box #l-3:after {
  content: "'+15'";
  -webkit-animation: show 1.5s .25s ease-in-out both;
          animation: show 1.5s .25s ease-in-out both;
}

#f-3:checked ~ .box #l-3 svg {
  -webkit-animation: hide 2s ease-in-out both;
          animation: hide 2s ease-in-out both;
}

#f-3:checked ~ .box #l-3 {
  -webkit-animation: hide 2s .75s ease-in-out both;
          animation: hide 2s .75s ease-in-out both;
}

.fish:nth-of-type(3) {
  z-index: 3;
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
  top: 9rem;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes go {
  45% {
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 0deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    right: 50%;
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
  }
  95% {
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
  }
}
#f-4:checked {
  counter-increment: game 20;
}

#f-4:checked ~ .box #l-4:after {
  content: "'+20'";
  -webkit-animation: show 1.5s .25s ease-in-out both;
          animation: show 1.5s .25s ease-in-out both;
}

#f-4:checked ~ .box #l-4 svg {
  -webkit-animation: hide 2s ease-in-out both;
          animation: hide 2s ease-in-out both;
}

#f-4:checked ~ .box #l-4 {
  -webkit-animation: hide 2s .75s ease-in-out both;
          animation: hide 2s .75s ease-in-out both;
}

.fish:nth-of-type(4) {
  z-index: 2;
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
  top: 6rem;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes go {
  45% {
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 0deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    right: 50%;
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
  }
  95% {
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
  }
}
#f-5:checked {
  counter-increment: game 25;
}

#f-5:checked ~ .box #l-5:after {
  content: "'+25'";
  -webkit-animation: show 1.5s .25s ease-in-out both;
          animation: show 1.5s .25s ease-in-out both;
}

#f-5:checked ~ .box #l-5 svg {
  -webkit-animation: hide 2s ease-in-out both;
          animation: hide 2s ease-in-out both;
}

#f-5:checked ~ .box #l-5 {
  -webkit-animation: hide 2s .75s ease-in-out both;
          animation: hide 2s .75s ease-in-out both;
}

.fish:nth-of-type(5) {
  z-index: 1;
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
  top: 9rem;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes go {
  45% {
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 0deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    right: 50%;
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
  }
  95% {
    -webkit-transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
            transform: scale(0.35) rotate3d(0, 1, 0, 180deg);
  }
}





#f-1:checked + #f-2:checked + #f-3:checked + #f-4:checked + #f-5:checked ~
.box .res {
  -webkit-transform: scale(1) translateY(0%);
          transform: scale(1) translateY(0%);
}                  



